In [9]:
import pandas as pd
file_path = '/Users/xiaoyufan/Desktop/candy-data.csv'
df = pd.read_csv(file_path)
df

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,Twizzlers,0,1,0,0,0,0,0,0,0,0.220,0.116,45.466282
81,Warheads,0,1,0,0,0,0,1,0,0,0.093,0.116,39.011898
82,Welch's Fruit Snacks,0,1,0,0,0,0,0,0,1,0.313,0.313,44.375519
83,Werther's Original Caramel,0,0,1,0,0,0,1,0,0,0.186,0.267,41.904308
84,Whoppers,1,0,0,0,0,1,0,0,1,0.872,0.848,49.524113

In [10]:
def get_ingredients(row):
    ingredients = []
    if row['chocolate'] == 1:
        ingredients.append('chocolate')
    if row['fruity'] == 1:
        ingredients.append('fruity')
    if row['caramel'] == 1:
        ingredients.append('caramel')
    if row['peanutyalmondy'] == 1:
        ingredients.append('peanutyalmondy')
    if row['nougat'] == 1:
        ingredients.append('nougat')
    if row['crispedricewafer'] == 1:
        ingredients.append('crispedricewafer')
    if row['hard'] == 1:
        ingredients.append('hard')
    if row['bar'] == 1:
        ingredients.append('bar')
    if row['pluribus'] == 1:
        ingredients.append('pluribus')
    return ingredients

# Apply the function to each row of the DataFrame and create the new column
df['ingredients'] = df.apply(get_ingredients, axis=1)

# Display the DataFrame to verify the new column
df

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,ingredients
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725,"[chocolate, caramel, crispedricewafer, bar]"
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936,"[chocolate, nougat, bar]"
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086,[]
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505,[]
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465,[fruity]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,Twizzlers,0,1,0,0,0,0,0,0,0,0.220,0.116,45.466282,[fruity]
81,Warheads,0,1,0,0,0,0,1,0,0,0.093,0.116,39.011898,"[fruity, hard]"
82,Welch's Fruit Snacks,0,1,0,0,0,0,0,0,1,0.313,0.313,44.375519,"[fruity, pluribus]"
83,Werther's Original Caramel,0,0,1,0,0,0,1,0,0,0.186,0.267,41.904308,"[caramel, hard]"
84,Whoppers,1,0,0,0,0,1,0,0,1,0.872,0.848,49.524113,"[chocolate, crispedricewafer, pluribus]"

In [11]:
columns_to_drop = ['chocolate', 'fruity', 'caramel', 'peanutyalmondy', 'nougat', 'crispedricewafer', 'hard', 'bar', 'pluribus']
df.drop(columns=columns_to_drop, inplace=True)

# Display the DataFrame to verify the columns have been deleted
df.head()

,competitorname,sugarpercent,pricepercent,winpercent,ingredients
0,100 Grand,0.732,0.860,66.971725,"[chocolate, caramel, crispedricewafer, bar]"
1,3 Musketeers,0.604,0.511,67.602936,"[chocolate, nougat, bar]"
2,One dime,0.011,0.116,32.261086,[]
3,One quarter,0.011,0.511,46.116505,[]
4,Air Heads,0.906,0.511,52.341465,[fruity]

In [12]:
df.to_csv('/Users/xiaoyufan/Desktop/candy_data_new.csv', index=False)